.firstThemeouterButtonBox {
 width: 100%;
 background-color:hsl(223, 31%, 20%);
 height: 370px;
 border-radius: 10px;
}
.secondThemeouterButtonBox {
  width: 100%;
  background-color:hsl(0, 5%, 81%);
  height: 370px;
  border-radius: 10px;
 }

 .thirdThemeouterButtonBox {
  width: 100%;
  background-color: hsl(268, 71%, 12%);
  height: 370px;
  border-radius: 10px;
 }
 

.firstThemebuttonBox {
  width: 90%;
  height: 330px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 12px;
  grid-auto-flow: dense;
  padding-top: 22px;

  }

  .secondThemebuttonBox {
    width: 90%;
    height: 330px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 12px;
    padding-top: 22px;

  }
  .thirdThemebuttonBox {
    width: 90%;
    height: 330px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 12px;
    padding-top: 22px;
}


@media only screen and (max-width: 600px) {
  .firstThemebuttonBox {
    width: 90%;
    height: 330px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 12px;
    grid-auto-flow: dense;
    padding-top: 22px;
  
    }
  
    .secondThemebuttonBox {
      width: 90%;
      height: 330px;
      margin-right: auto;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-gap: 12px;
      padding-top: 22px;
  
    }
    .thirdThemebuttonBox {
      width: 90%;
      height: 330px;
      margin-right: auto;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-gap: 12px;
      padding-top: 22px;
  }
}