.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.first-mode {
  --font-color: #101212;
  --ghost-color: #000000;
  --body-bg-color: #ffffff;
  --comp-container-color: #ebebeb;
  --input-outline-color: #b5b5b5;
  --card-hover-color: #cfcfcf85;
  --icon-hover-color: #cacaca;
  --common-color: #101212;
}

.second-mode {
  --font-color: #cccccc;
  --ghost-color: #ffffff;
  --body-bg-color: #101212;
  --comp-container-color: #1d1d1d;
  --input-outline-color: #222222;
  --card-hover-color: #27272785;
  --icon-hover-color: #383838;
  --common-color: #101212;
}


.third-mode {
  --font-color: #cccccc;
  --ghost-color: #ffffff;
  --body-bg-color: #101212;
  --comp-container-color: #1d1d1d;
  --input-outline-color: #222222;
  --card-hover-color: #27272785;
  --icon-hover-color: #383838;
  --common-color: #101212;
}
.attribution{
  width: 127%;
    margin-top: 10px;

}