body {
  margin: 0;
  font-family: 'LeagueSpartan';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "LeagueSpartan";
  src: local("LeagueSpartan"),
   url("./fonts/League_Spartan/static/LeagueSpartan-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  }
  
